/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

    /* blue light theme*/
    --blue-light: #e6f4f8;
    --blue-light-hover: #d9eef4;
    --blue-light-active: #b0dbe8;
    --normal: #008cb4;
    --normal-hover: #007ea2;
    --normal-active: #007ea2;
    --dark: #007ea2;
    --dark-over: #00546c;
    --dark-active: #00546c;
    --darker: #00313f;

    /* white theme */
    --white-light: #fdfdfd;
    --white-light-hover: #fcfcfc;
    --white-light-active: #f9f9f9;
    --white-normal: #ebebeb;
    --white-normal-hover: #d4d4d4;
    --white-normal-active: #bcbcbc;
    --white-dark: #b0b0b0;
    --white-dark-hover: #8d8d8d;
    --white-dark-active: #6a6a6a;
    --white-darker: #525252;

    /* highlight color */
    --highlighted-color: rgba(129, 159, 222, 0.78) !important;

    /* text color*/
    --sk-body-text-color: #1d1d1f;
    --element-background-color: rgba(246, 242, 242, 0.31) !important;

    /* fonts */
    --font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    --font-size: 62.5%;

    /* paddings */
    --padding-size: 14px;

    /* gaps */
    ---small-gap-size: 10px;
    ---medium-gap-size: 20px;

    /* box-shadow */
    --box-shadow-soft: 0 1px 1px rgba(0, 0, 0, 0.1);

    /* borders*/
    --border-radius: 0.5rem;
    --border-radius-circle: 0.99rem;
    --border-color: #d3d3d5 !important;
}

html {
    font-size: var(--font-size)
}

body {
    color: var(--sk-body-text-color,#1d1d1f);
    border-radius: var(--border-radius);
}






