fieldset {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--small-gap-size);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin: var(--margin-size);
    padding: var(--padding-size);
}

input {
    min-height: 25px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    text-align: center;
}

form a {
    line-height: 4px;
    font-size: 10px;
    color: var(--sk-body-text-color);
}

input::placeholder {
    text-align: center;
}

textarea::placeholder {
    text-align: center;
}