fieldset {
    width: 150px;
    height: 250px;
    max-width: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--small-gap-size);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin: var(--margin-size);
    padding: var(--padding-size);
    box-sizing: border-box;
}

form {
    width: 190px;
    height: 250px;
}

#email-helper {
    width: 150px;
    height: 12px;
    overflow: hidden;
}

input {
    min-height: 25px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    text-align: center;
}

form a {
    line-height: 4px;
    font-size: 10px;
    color: var(--sk-body-text-color);
}

input::placeholder {
    text-align: center;
}

textarea::placeholder {
    text-align: center;
}