mn-navbar {
    max-height: 100px;
    position: fixed; /* Makes the div stay in its position relative to the viewport */
    top: 0;          /* Aligns the div to the very top of the viewport */
    left: 0;         /* Aligns the div to the very left of the viewport (useful for full-width) */
    width: 100%;     /* Makes the div span the entire width of the viewport */
    padding: var(--padding-size);   /* Example padding */
    z-index: 1000;   /* Ensures the div stays on top of other content */
    box-sizing: border-box;
    box-shadow: var(--box-shadow-soft);
    display: flex;
    flex-direction: row;
    gap: var(--medium-gap-size);
    justify-content: center;
    align-items: center;
    text-align: center;
}


mn-navbar-link {
    justify-content: space-evenly;
    font-size: var(--font-size-5);
    font-family: var(--font-family);
    text-decoration: none;
}

mn-navbar mn-navbar-link:hover, .dropdown:hover .dropbtn {
    transform: scale(103%);
}




