p {
    margin: 0;
}

h3 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight);
    margin: var(--margin-size);
}

a {
    font-size: small;
    text-decoration: none;
    color: var(--sk-body-text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

mark {
    background: var(--highlighted-color);
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: normal;
    letter-spacing: -.022em;
    font-optical-sizing: auto;
    color: var(--sk-body-text-color,#1d1d1f);
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: small;
}

.button {
    font-size: medium;
    font-weight: normal;
}

label {
    font-size: smaller;
}
